
<!DOCTYPE html>
<html>
    <head>
        <h2 class="title">Inventory</h2>
    </head>
    <body>

        <form method="" action="">
            <p>
                {{ form.stock_name.label }}
                {{ form.stock_name }}
            </p>
  
            <p>
                {{ form.stock_unit.label }}
                {{ form.stock_unit }}
            </p>
  
            <p>
                {{ form.stock_lowest.label }}
                {{ form.stock_lowest }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
    </body>
</html>